
.Role-event-item__absolute-time {
  display: none;
}

.Role-event-item:hover .Role-event-item__absolute-time{
  display: inline;
}

.Role-event-item:hover .Role-event-item__relative-time{
  display: none;   
}

.hide {
  display: none;
}
